env: prod
debug: false
log:
  fileName: log/server.log
  maxAgeDay: 7
  fileFormat: '%Y-%m-%d'
  distWarnLevel: true
  callerSkip: 1
client:
  - name: mysql.basic
    target: dsn://user:password@tcp(127.0.0.1:6603)/dbName?charset=utf8mb4&parseTime=true
    timeout: 1000
  - name: redis.basic
    target: ip://127.0.0.1:6379
    timeout: 1000
